<p>
  <b>Title:</b>
  <%=h @todo.title %>
</p>

<p>
  <b>Note:</b>
  <%=h @todo.note %>
</p>

<p>
  <b>Due by:</b>
  <%=h @todo.due_by %>
</p>

<p>
  <b>Complete:</b>
  <%=h @todo.complete %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
