<h1>Listing todos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Note</th>
    <th>Due by</th>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%= todo.title %></td>
    <td><%= todo.note %></td>
    <td><%= todo.due_by %></td>
    <td><%= todo.complete %></td>
    <td><%= link_to 'Show', list_todo_path(@list, todo) %></td>
    <td><%= link_to 'Edit', edit_list_todo_path(@list, todo) %></td>
    <td><%= link_to 'Destroy', list_todo_path(@list, todo), :method => :put, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo', new_list_todo_path(@list) %>
