<h1>Editing todo</h1>

<% form_for(@todo, :url => list_todo_path(@list, @todo)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :due_by %><br />
    <%= f.datetime_select :due_by %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', list_todo_path(@list, @todo) %> |
<%= link_to 'Back', list_todos_path(@list) %>
